site_name: SAYN

repo_name: 173TECH/sayn
repo_url: https://github.com/173TECH/sayn
edit_uri: ""
site_url: https://173tech.github.io/sayn/

theme:
  name: material
  palette:
    # scheme: slate
    primary: cyan
    accent: blue

google_analytics:
  - UA-149287493-2
  - auto

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences
  - toc:
      permalink: true

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_source: False
      watch:
        - sayn

extra_css:
  - css/mkdocstrings.css
  - css/admonitions.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/173TECH

nav:
  - Home: index.md
  - Getting Started:
    - Installation: installation.md
    - Tutorial (Part 1): tutorials/tutorial_part1.md
    - Tutorial (Part 2): tutorials/tutorial_part2.md
  - Core concepts:
    - CLI: cli.md
    - Project Structure: project_structure.md
    - project.yaml: settings/project_yaml.md
    - settings.yaml: settings/settings_yaml.md
    - DAGs: dags.md
    - Tasks: tasks/overview.md
    - Presets: presets.md
    - Parameters: parameters.md
  - Tasks:
    - Overview: tasks/overview.md
    - AutoSQL: tasks/autosql.md
    - Python: tasks/python.md
    - SQL: tasks/sql.md
    - Copy: tasks/copy.md
    - Dummy: tasks/dummy.md
  - Databases:
    - Overview: databases/overview.md
    - Redshift: databases/redshift.md
    - Snowflake: databases/snowflake.md
    - PostgreSQL: databases/postgresql.md
    - MySQL: databases/mysql.md
    - SQLite: databases/sqlite.md
  - API Reference:
     - Database: api/database.md
     - PythonTask: api/python_task.md
